.tabsbar > .content > .item {
    &.usermenu {
        &:hover .dropdown {
            opacity: 1;
            display: block;
            left: 0px;
        }
    }

    &.settings,
    &.logout {
        display: none;
    }
}