.tabsbar > .content > .item {
    &.usermenu {
        position: absolute;
        top: 20px;
        right: 15px;
        padding: 0 !important;

        .link {
            border-radius: 100%;
            justify-content: center;

            &::before {
                display: none;
            }
        }

        .helper {
            display: none;
        }

        .text {
            font-size: 16px;
            color: #fff;
        }
        
        .dropdown_content {
            padding: 12px !important;
            margin: 5px 0 0;
        }

        .item {
            display: flex;
            column-gap: 10px;
            align-items: center;
            padding: 8px 12px 8px 8px;
            color: #000;
            border-radius: 10px;

            &:hover {
                background: #eee;
            }

            .item_icon {
                display: block;
                width: 32px;
                height: 32px;
                box-shadow: 0px 0px 10px 0px #00000040;
                border-radius: 10px;
                background-repeat: no-repeat !important;
                background-position: center !important;
            }

            .item_text {
                display: block;
                font-size: 13px;
                text-shadow: none;
            } 
        }
        
        .item-settings .item_icon {
            background: #5BAAEE;
            background-image: url("./images/settings.svg") !important;
            background-size: 18px !important;
        }

        .item-logout .item_icon {
            background: #F17374;
            background-image: url("./images/logout.svg") !important;
            background-size: 17px !important;
            background-position-x: 65% !important;
        }
    }
}