@theme-background-color: #ffffff;

@theme-tabs-height: 78px;
@theme-common-link-color: #469CF8;
@theme-common-link-hover-color: #278cf7;
@theme-animation-highlight-color-start: rgba(255, 255, 196, 1);
@theme-animation-highlight-color-end: rgba(255, 255, 196, 0);

@theme-text-color: #424040;

@theme-use-text-fade: false;

// local variables
@_panel-border-radius: 10px;
@_panels-screen-offset: 15px;
@_tabsbar-item-padding-left: 20px;
@_tabsbar-item-padding-right: 20px;
@_tabsbar-item-padding-bottom: 20px;
@_tabsbar-item-radius: 12px;

@_tabsbar-dropdown-left-offset: @_tabsbar-item-width - @_tabsbar-item-radius;
@_tabsbar-dropdown-left-padding: 30px;

@_tabsbar-item-width: 38px;
@_tabsbar-item-height: 38px;

.theme-main-background() {
	background: linear-gradient(90deg, #786ee2 0%, #bb4fef 87.38%);
}

.report_panel {
    left: 0;
}

.theme-tabsbar() {
	@tabsbar-item-fontsize: 10.6pt;
	@tabsbar-item-font-color: #888785;
	@tabsbar-item-font-color-hover: darken(@tabsbar-item-font-color, 40%);
	@tabsbar-item-font-shadow: none;

    box-sizing: border-box;
    position: static !important;
    padding: 0 !important;
    width: @_tabsbar-item-padding-left + @_tabsbar-item-padding-right + @_tabsbar-item-width !important;
    height: auto !important;
    z-index: 4000 !important;

    & > .content {
        width: 100% !important;
        flex-direction: column !important;
        flex-wrap: nowrap !important;
        height: calc(100vh - 84px) !important;
        align-items: flex-start !important;

        > .item{
            .helper {
                display: none;
            }
            .link {
                position: relative;
                padding: 2px; // Prevent link text shifting by applying a 3px border only to the current link
                display: flex;
                align-items: center;
                font-size: 0;
                box-sizing: border-box;
                width: @_tabsbar-item-width;
                height: @_tabsbar-item-height;
                box-shadow: 0px 0px 10px 0px #00000040;
                border-radius: @_tabsbar-item-radius;
                background: linear-gradient(180deg, #82B8FF 0%, #6DADFE 87.38%);
                text-shadow: none;

                &::before {
                    position: absolute;
                    content: '';
                    width: @_tabsbar-item-width - 6px;
                    height: @_tabsbar-item-width - 6px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    background-repeat: no-repeat !important;
                    background-position: center !important;
                    background-size: cover !important;
                }
            }

            .control {
                text-shadow: none;
            }

            &.current {
                .link {
                    border: 2px solid white;
                    padding-right: 0;
                }

                &.emails .link {
                    padding-top: 1px;
                }
            }

            &.emails {
                width: 100%;
                height: @_tabsbar-item-height + @_tabsbar-item-padding-bottom;
            }

            &.emails .link {
                display: inline-block;
                background: linear-gradient(to top, #5b9dff, lighten(spin(#5b9dff, 20), 15%));

                &::before {
                    background-image: url("./images/mail.svg");
                }

                .text {
                    display: none;
                    position: relative;
                    left: 128%;
                    top: 27%;
                }
            }
            
            &.emails {
                .helper.has_control {
                    display: block;
                    position: relative;
                }

                .control {
                    position: absolute;
                    left: @_tabsbar-item-padding-left + @_tabsbar-item-width;
                    top: (@_tabsbar-item-height / 2 - 11px);

                    background: white;
                    width: 22px;
                    height: 22px;
                    border-top-right-radius: 10px;
                    border-bottom-right-radius: 10px;
                
                    &::before {
                        position: absolute;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }

            &.emails.expand {
                font-size: 10.6pt;
                width: unset;

                .link {
                    top: -@_tabsbar-item-height;
                }

                .control {
                    left: auto;
                    right: -35px;
                }

                .helper.has_control {
                    pointer-events: none;
                    height: unset;
                    line-height: normal;
                    font-size: 18px;
                    visibility: visible;
                    top: 0px;
                    left: @_tabsbar-dropdown-left-offset + @_tabsbar-dropdown-left-offset;
                    z-index: 9999;
                    padding-right: 50px;
                    height: @_tabsbar-item-height;
                    display: flex;
                    align-items: center;
                }

                .dropdown {
                    position: relative !important;
                    top: -(@_tabsbar-item-height * 2); // 6px is a required tweek that compensate unknown vertical offset
                    left: @_tabsbar-dropdown-left-offset !important;
                    width: fit-content !important;
                    min-width: 110% !important;
                }

                .dropdown_helper {
                    position: relative !important;
                }

                .dropdown_content {
                    min-width: 110px;
                    width: 100%;
                    position: relative;
                    margin: 0px;
                    padding-top: 40px;
                    left: 0;
                    border: 0px;
                    border-radius: 0 @_panel-border-radius @_panel-border-radius @_panel-border-radius;
            
                    .item {
                        font-size: 18px;
                        padding: 10px 30px 10px @_tabsbar-dropdown-left-padding !important;
                    }
                }
            }

            &.contacts .link {
                background: #4faef9;
                background: linear-gradient(to top, #62d8c3, lighten(spin(#62d8c3, 20), 15%));

                &::before {
		            background-image: url("./images/contacts.svg") !important;
                }
            }
            
            &.calendar .link {
                background: #ed7989;
                background: linear-gradient(to top, #ed7989, lighten(spin(#ed7989, 20), 15%));

                &::before {
                    background-image: url("./images/calendar.svg") !important;
                }
            }

            &.files .link {
                background: #49a1f8;
                background: linear-gradient(to top, #49a1f8, lighten(spin(#49a1f8, 20), 15%));

                &::before {
		            background-image: url("./images/files.svg") !important;
                }
            }

            &.tasks .link {
		        background: linear-gradient(to top, #82B8FF, lighten(spin(#82B8FF, 20), 10%));

                &::before {
                    background-image: url("./images/tasks.svg");
                }
            }

            &.notes .link {
                background: linear-gradient(to top, #f6c163, lighten(spin(#f6c163, 20), 5%));

                &::before {
                    background-image: url("./images/notes.svg");
                }
            }

            &.chat .link {
                background: linear-gradient(to top, #f5455c, lighten(spin(#f5455c, 20), 5%));

                &::before {
                    background-image: url("./images/chat.svg");
                }
            }

            &.new_button_panel {
                position: absolute;
                top: 20px;
                left: @_tabsbar-item-width + @_tabsbar-item-padding-left + @_tabsbar-item-padding-right;
                padding: 0 !important;
                z-index: 3100;

                height: 38px;
                width: 240px;
                border-radius: 100px;
                background: linear-gradient(180deg, #82B8FF 0%, #6DADFE 87.38%);
                box-shadow: 0px 0px 10px 0px #00000040;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #fff;

                .helper {
                    display: none;
                }

                .link {
                    box-shadow: none;
                    background: none;
                    font-size: 16px;
                }

                .dropdown_content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    grid-column-gap: 12px;
                    padding: 12px !important;
                    margin: 5px 0 0 -20px !important;
                    
                    .item {
                        display: flex;
                        column-gap: 10px;
                        align-items: center;
                        border-radius: 10px;
                        padding: 8px 12px 8px 8px;
                        font-size: 13px;
                    }

                    .item_text {
                        color: black;
                        font-size: 13px;
                        text-shadow: none;
                    }

                    .item_icon {
                        position: relative;
                        width: 32px;
                        height: 32px;
                        background: #49a1f8;
                        border-radius: 10px;
                        box-shadow: 0px 0px 10px 0px #00000040;
    
                        &::before {
                            position: absolute;
                            content: '';
                            width: 27px;
                            height: 27px;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            background-repeat: no-repeat !important;
                            background-position: center !important;
                            background-size: cover !important;
                        }
                    }

                    .item_mail .item_icon {
                        background: linear-gradient(to top, #5b9dff, #a8aeff);
    
                        &::before {
                            background-image: url("./images/mail.svg") !important;
                        }
                    }

                    .item_notes .item_icon {
                        background: linear-gradient(to top, #f6c163, #f7f47b);
    
                        &::before {
                            background-image: url("./images/notes.svg") !important;
                        }
                    }

                    .item_calendar .item_icon {
                        background: linear-gradient(to top, #ed7989, #f6c8bc);
    
                        &::before {
                            background-image: url("./images/calendar.svg") !important;
                        }
                    }

                    .item_tasks .item_icon {
                        background: linear-gradient(to top, #82B8FF, #b5bcff);
    
                        &::before {
                            background-image: url("./images/tasks.svg") !important;
                        }
                    }

                    .item_contacts .item_icon {
                        background: linear-gradient(to top, #62d8c3, #9fdce7);
    
                        &::before {
                            background-image: url("./images/contacts.svg") !important;
                        }
                    }

                    .item_files .item_icon {
                        background: linear-gradient(to top, #49a1f8, #93a4fb);
    
                        &::before {
                            background-image: url("./images/files.svg") !important;
                        }
                    }
                }
            }
        }
    }
	
	.theme-tabsbar-item() {
        box-sizing: border-box;
		margin: 0px;
		padding: 0px @_tabsbar-item-padding-left @_tabsbar-item-padding-bottom;
		
		html.rtl & {
			margin-left: 0px;
			margin-right: 6px;
		}
	}
	
	.theme-tabsbar-item-hover() {
		color: @tabsbar-item-font-color-hover;

		.text {
			text-decoration: none;
		}
	}
	
	.theme-current() {}
	
	.theme-unseen-marker() {
		background: #ff5fb5;
		color: #ffffff;
		margin-top: -15px;
        top: 0 !important;
        right: auto !important;
        left: @_tabsbar-item-width - 4px;

        border-radius: 25px !important;
        font-size: 13px !important;
        height: auto !important;
        width: auto !important;
        min-width: 1em;
        line-height: 1.2 !important;
        padding: 4px 5px 3px 5px;
	}
}

.theme-dropdown() {
    .dropdown_content {
        border: 0px !important;
        box-shadow: 0 0 10px #00000040 !important;
        border-radius: @_panel-border-radius !important;
        box-sizing: border-box;
    }

}

.theme-panel() {}

@theme-buttons-primary-background: #81c54b;
@theme-buttons-secondary-background: #a7afb9;
@theme-buttons-clear-color: #7f7f7f;
@theme-add-account-button-color: #6fa8de;

.theme-big-single-button() {}

@theme-toolbar-height: 55px;

.theme-common-panel-toolbar() {
	background: @theme-background-color;
	border-bottom: none;
    border-top-left-radius: @_panel-border-radius;
    border-top-right-radius: @_panel-border-radius;

	.resizer {
		height: @theme-toolbar-height;
	}
}

@theme-toolbar-item-icon-color: #898989;

.theme-toolbar-item() {
    .text {
        font-size: 16px;
    }

	& > .icon {
		color: @theme-toolbar-item-icon-color;
		text-shadow: none;

		&:hover {
			color: darken(@theme-toolbar-item-icon-color, 10%);
		}
	}

	.hint {
		background: lighten(@theme-toolbar-item-icon-color, 10%);
		color: #ffffff;
	}

	&:hover .hint {
		background: lighten(@theme-toolbar-item-icon-color, 5%);
	}
}

.theme-toolbar-item-hover() {}

.theme-clear-left-panel() {
	background: @theme-background-color;

    .items_list .item {
        margin-right: 10px;
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;

        &.selected > .title {
            color: #fff;
            font-weight: 700;
            text-shadow: none !important;
        }

        & > .title {
            color: @theme-text-color;
            text-shadow: none !important;
            padding-top: 13px;
            padding-bottom: 15px;
            font-size: 14px;
        }
    }
}

.theme-left-panel-item-count() {
    margin-right: 16px !important;
    padding: 4px 13px 2px !important;
    font-size: 12px;
    border-radius: 12px;
    border: 1px solid @theme-text-color;
    color: @theme-text-color !important;
}

.theme-left-panel-item-count-total() {}

.theme-left-panel-item-selected-count-total() {
    border-color: white;
	color: white !important;
}

.theme-left-panel-item-selected-count() {
    border-color: white;
    color: white !important;
}

.theme-left-panel-item-count-hover() {
	background: #2965b7;
}

.theme-left-panel-item-unseen-count-hover() {
	background: #d9d6ce;
}

@theme-list-item-bg: @theme-background-color;
@theme-list-selected-item-bg: #78b8f0;
@theme-list-selected-item-color: #ffffff;
@theme-list-checked-item-bg: #ebf7cb;
@theme-list-unseen-item-bg: #f4f6f7;

@theme-group-style-item-bg: @theme-background-color;
@theme-group-style-selected-item-bg-color: #469CF8;
@theme-group-style-selected-item-bg: #469CF8;
@theme-group-style-item-font-size: 12pt;

.theme-group-style-selected-item() {
	text-shadow: none;
}

.theme-address-capsule() {
	background-color: #e5eff7;
    color: #5b9bcd;
    border: solid 1px #c4d9ea;
	
	.ficon {
		color: #5b9bcd;
	}
	
	&.inputosaurus-selected {
		background: #5b9bcd;
		color: #ffffff;
		
		.ficon {
			color: #ffffff;
		}
	}
}

.theme-address-capsule-notfound() {
	background: none;
	color: #5b9bcd;
}

.theme-tooltip() {
	@tooltip-color: #424e54;
}

@theme-volumer-height: 8px;
@theme-volumer-container-background: #DDDDDD;
@theme-volumer-container-border: none;
@theme-volumer-container-border-radius: 24px;
@theme-volumer-used-background: #469CF8;
@theme-volumer-text: #8C8C96;

.volumer {
    display: flex !important;
    flex-direction: column-reverse;
    row-gap: 8px;
    line-height: 16px;
    padding: 0 25px !important;

    .volumer_container {
        padding: 0 !important;
        overflow: hidden;
    }

    .used {
        border-radius: @theme-volumer-container-border-radius;
    }
}

@theme-attachment-action-link-color: @theme-common-link-color;

@theme-contact-viewer-mailto-link-color: #3983c8;
@theme-contacts-panel-item-selected-me-color: #519ce2;
@theme-contacts-panel-item-data-email-color: #519ce2;

@theme-fields-dates-editable-color: @theme-common-link-color;
@theme-fields-dates-editable-hover-color: #c74747;

@theme-settings-filter-link-color: @theme-common-link-color;

@theme-quick-reply-bg: #fcfcfc;
@theme-quick-reply-textarea-border: none;

@theme-center-top-panel-bg: #f8f8f8;
@theme-center-bottom-panel-bg: #f8f8f8;

@theme-section-title-color: #777777;
@theme-section-title-text-shadow: none;

.screen > .panels > .left_panel .panel_bottom {
    padding-bottom: 9px;
    padding-top: 9px;
    height: unset !important;
    flex-shrink: 0;
}

.buttons .button {
    padding: 7px 13px !important;
    border-color: transparent !important;
    border-radius: 6px !important;
    background: #73C389 !important;
    text-shadow: none !important;

    &.disabled {
        color: #c0e2a5 !important;
    }

    &.contour_button {
        border-color: @theme-group-style-selected-item-bg-color !important;
        color: @theme-group-style-selected-item-bg-color !important;
    }

    &.clear_button {
        background: transparent !important;
    }

    &.download {
        background: transparent !important;
        padding: 0 !important;
    }
}

span.address_capsule,
li.address_capsule {
    background: #EDEDED !important;
    color: @theme-text-color !important;
    font-weight: 400 !important;
    border-color: transparent !important;
    border-radius: 24px !important;

    &.found_contact {
        background: @theme-group-style-selected-item-bg !important;
        color: #fff !important;
    }
}

.message_viewer {
    .message_header {
        background: unset !important;
    }

    .message_header .header_content .message_info_line .add_contact {
        width: 10px;
        height: 10px;
        bottom: 8px;
        right: 11px;

        &::before {
            content: '';
            width: 2px;
            background: @theme-group-style-selected-item-bg;
            position: absolute;
            left: 50%;
            top: 0;
            bottom: 0;
            margin-left: -1px;
        }

        &::after {
            content: '';
            height: 2px;
            background: @theme-group-style-selected-item-bg;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            margin-top: -1px;
        }
    }

    .message_header .header_content .message_info_line .to_arrow {
        font-size: 1.6em;
        vertical-align: top !important;
    }

    .panel_bottom {
        border-top: none !important;
        padding: 10px 0 !important;
    }

    .quick_reply {
        background: @theme-center-bottom-panel-bg;
        margin: 0 12px;
        padding: 0 0 0 16px;
        border-radius: 12px;

        .row {
            margin: 10px 0;
        }

        .row textarea {
            padding: 6px !important;
            background: inherit;
        }

        .buttons {
            margin: 0 !important;
        }

        &.active {
            padding: 0 16px 16px 16px;

            .row textarea {
                height: 85px;
            }

            .buttons {
                max-height: 32px !important;
            }
        }
    }
}

.panels .panel.item_viewer > .panel_content > .middle_bar > .panel_bottom.notes_container {
    padding: 20px !important;
}

.files,
.message_viewer {
    .attachments .item.file .item_content {
        background: #f7f7f7 !important;
        box-shadow: 0px 1px 2px #cccccc !important;
    }
}

.popup {
    z-index: 5000 !important;
}

.ui-autocomplete.ui-front {
    z-index: 5001 !important;
    transform: translate(0px, 5px);
    border-radius: @_panel-border-radius;
}

.popup_panel,
.popup_panel > .panel_wrap,
.popup_panel > .panels,
.popup_panel > .panels > .panel.compose {
    border-radius: @_panel-border-radius !important;
}

.popup.calendar_create .popup_heading {
    border-radius: @_panel-border-radius @_panel-border-radius 0 0 !important;
}
.popup.calendar_event {
    .row {
        .input {
            padding-left: 8px !important;
            padding-right: 8px !important;
        }

        .placeholder,
        .input {
            font-size: 13px !important;
        }

        &.name {
            .placeholder,
            .input {
                font-size: 16px !important;
            }
        }
    }
}

.panel.compose {
    .panel_content > .toolbar {
        border: none;
    }

    .panel.message_panel {
        box-shadow: none;
        border-radius: 0;
    }
}

.popup.files .popup_panel .panels .panel.storages_panel {
	background: none !important;
}

.screens {
    height: 100% !important;
    flex-direction: row !important;

    html.no-newtab & {
        padding-top: @theme-tabs-height !important;
    }

    .screen {
        box-sizing: border-box;
        height: 100% !important;
        padding: @_panels-screen-offset !important;
        html.no-newtab & {
            padding-top: 0px !important;
            padding-left: 0px !important;
        }
        &.MailLayout {
            .center_panel {
                position: static;
                .toolbar {
                    position: relative;
                }
            }
        }
    
        &.ContactsLayout .center_panel,
        &.TasksLayout .panel.item_viewer {
            position: static;
        }
    
        &.FileStorageLayout .center_panel {
            position: static;
    
            .search_block {
                width: 100% !important;
            }
        }
    }
}


.panels > .left_panel > .panel_content {
    padding-top: 10px;

    & > .big_single_button {
        display: none;
    }

    & > .middle_bar > .panel_center .items_list .folders:first-child {
        border-bottom: 1px solid #DDDDDD;
        padding-bottom: 10px;
    }
}

.search_block {
    position: absolute;
    top: 20px;
    left: max(330px, 30%);
    height: unset !important;
    z-index: 99;
    max-width: 40%;
    padding: 0 !important;

    .extended .search_fieldset .section {
        .input {
            padding: 0px !important;
            border-radius: 0px !important;
        }
        .placeholder {
            top: 0px !important;
            font-size: 11pt !important;
        }
    }
    & > .input {
        min-height: 38px !important;
        padding: 8px 40px !important;
        border: 0px !important;
        border-radius: 18px !important;
        box-shadow: 0px 0px 10px 0px #00000040 !important;

        .field {
            height: 22px !important;
            line-height: 22px;
            font-size: 16px !important;
            margin-top: 0 !important;
            color: #000000 !important;
        }
    }

    & > .control {
        position: relative;
        left: -30px;
        
        & > .icon {
            margin-top: 0 !important;

            &::before {
                color: #8d8a97 !important;
                font-size: 20px !important;
                font-weight: 600 !important;
            }
        }
    }

    & > .input > .icon.search {
        height: 100% !important;
        left: 10px !important;
        top: 0px !important;
        padding-top: 4px !important;
        font-size: 0 !important;
        
        &::before {
            color: #8d8a97 !important;
            font-weight: 600 !important;
            transform: scaleX(-1) translateX(-50%);
        }
    }
}

.input {
    box-shadow: none !important;
    border-radius: 16px !important;

    &:focus,
    &:focus-visible {
        border-color: #93b5e3 !important;
        box-shadow: none !important;
        outline: 0px !important;
    }
}

.fields {
    .placeholder {
        text-indent: 0px !important;
        top: 8px !important;
        left: 8px !important;
    }
    .input {
        padding: 7px 12px 6px 12px !important;
        
        &.select-recipient {
            padding: 0px !important;
        }
        select.input {
            padding: 7px 24px 6px 12px !important;
        }
    }
}

select.input {
    appearance: none;
    position: relative;
    background: url("./images/arrow-down.svg") no-repeat right 8px center;
    background-color: #fff;
    background-size: 12px auto;
}

.custom_radio:not(.round),
.custom_checkbox:not(.round) {

    &.checked {
        span.icon {
            border-color: @theme-group-style-selected-item-bg-color;
            background: @theme-group-style-selected-item-bg-color !important;
            box-shadow: none !important;
        }
    }

    & > span.icon {
        border: 2px solid @theme-group-style-selected-item-bg-color !important;
        color: white !important;
        width: 12px !important;
        height: 12px !important;
        line-height: 12px !important;
        box-shadow: none !important;
    }
}

.messages_panel .items_list .item {    
    .item_content {
        display: flex;
        align-items: center;
    }
    
    .data {
        flex-grow: 1;
    }

    .flag {
        position: absolute !important;
        right: 16px;
        bottom: 21px;
    }
    
    .subject {
        margin-right: 50px;
        text-overflow: ellipsis;
        color: #7D7E87 !important;
    }

    .from, .date {
        color: #8C8C96 !important;
    }
    .data > .thread-pin {
        margin: 0 20px 0 0 !important;
    }

    .data > .marker {
        right: 35px;
        top: 54%;
        background: unset;

        &::before {
            content: "\e60c";
            font-family: 'afterlogic';
            font-size: 24px;
            color: #c4c4c4;
            font-weight: 600;
        }
    }

    .size, .date {
        margin-top: 0;
    }
}

.items_list .item.checked {
    background-color: #F5FFED !important;
}

.items_list .item.selected {
    background-color: #b5dbfd !important;
}

.items_list .item.unseen {
    .from, .subject, .date {
        color: @theme-text-color !important;
        font-weight: normal;
    }
}

.panel.files .items_list .item {
    background: none !important;
}

.screen > .panels,
.screen > .panels > .panel,
.screen > .panels > .panel.center_panel .panel_content {
    border-radius: @_panel-border-radius !important;
}

.panel.center_panel.messages_panel > .panel_content > .middle_bar {
    border-bottom-left-radius: @_panel-border-radius !important;
    border-bottom-right-radius: @_panel-border-radius !important;
}

.panels {
    .gutter {
        min-width: 8px;
    }

    .panel.center_panel {
        & > .panel_content > .middle_bar > .panel_bottom {
            border-bottom-left-radius: @_panel-border-radius !important;
            border-bottom-right-radius: @_panel-border-radius !important;
        }

        .panel_bottom {
            background: #fff;
            padding: 15px 20px;
        }

        .pagination {
            text-align: center;
            line-height: 1.25;

            .item {
                color: #8C8C96;
                font-size: 14px;
                padding: 0 4px;
                border-radius: 2px;
        
                &:hover {
                    color: #333;
                }
        
                &.current {
                    background: #EFEFF1;
                    color: #000;
                    font-weight: 700;
                }
        
                &.first, &.prev, &.next, &.last {
                    color: #7D7E87;
                    padding: 0;
                }
        
                &.first {
                    margin-right: -5px;
                }
        
                &.last {
                    margin-left: -5px;
                }
            }
        }
    }
}

.MailLayout,
.ContactsLayout {
    .center_panel {
        .toolbar {
            padding-left: 30px;

            .content .group > .item.control {
                padding-left: 0;
            }
        }

        .middle_bar .panel_top {
            padding-top: 0;
            padding-bottom: 0;
        
            & > .custom_checkbox {
                position: absolute;
                top: @theme-tabs-height + 12px;
            }
        }
    }
}

.ContactsLayout {
    & > .panels > .left_panel.groups_panel .panel_center .items_list {
        & > div:not(.item) {
            margin-top: 10px;
            padding: 10px 0;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #ddd;
        }
    }

    .center_panel .items_list.contact_list {
        .item > .item_content {
            display: flex;
            align-items: center;
        }
    
        .item > .item_content > span.controls {
            margin-right: 24px;
        }
    
        .item > .item_content > .data {
            flex-grow: 1;
            color: @theme-text-color;
        }
    
        .item > .item_content > .data > .name {
            margin-bottom: 0;
        }
    
        .item > .item_content > .data > .email {
            opacity: unset;
            color: #8C8C96;
        }
    
        .item.noname > .item_content > .data > .name,
        .item.noemail > .item_content > .data > .email {
            color: #555;
        }
    
        .item .key {
            &::before {
                color: @theme-common-link-color !important;
            }
        }
    
        .custom_checkbox {
            margin-right: 0;
        }
    
        .custom_checkbox  > span.icon {
            width: 48px !important;
            height: 48px !important;
            line-height: 48px !important;
            background: #D7EAFF;
            border: none !important;
            box-shadow: none !important;
            border-radius: 12px;
        }
    
        .custom_checkbox:not(.checked) > span.icon {
            &::before {
                content: attr(data-initials);
                color: #7D7E87;
                font-weight: 700;
                font-size: 16px;
                font-family: Arial, sans-serif;
            }
        }
    
        .custom_checkbox.checked > span.icon {
            background: #D7EAFF !important;
            color: @theme-group-style-selected-item-bg !important;
    
            &::before {
                font-size: 16px;
            }
        }
    }
}

.screen.CalendarLayout,
.screen.TasksLayout {
    .panel_content .middle_bar {
        border-bottom-right-radius: @_panel-border-radius;
        border-bottom-left-radius: @_panel-border-radius;
    }
    .panel.calendars_panel {

        .calendars {
            .section_title {
                margin-bottom: 10px;
        
                .title {
                    .text {
                        font-weight: 400;
                        color: @theme-text-color;
                    }
                    .title .icon {
                        display: none !important;
                    }
                }
        
                .control {
                    border: 2px solid #e3e3e3;
                    border-radius: 5px;
                    color: #e3e3e3;
                    position: relative;
            
                    &::before {
                        content: '' !important;
                        position: absolute;
                        left: 50%;
                        top: 3px;
                        bottom: 3px;
                        width: 2px !important;
                        height: initial !important;
                        background: #e3e3e3;
                        margin: 0 0 0 -1px !important;
                        border-radius: 2px;
                    }
            
                    &::after {
                        content: '';
                        position: absolute;
                        left: 3px;
                        top: 50%;
                        right: 3px;
                        height: 2px;
                        background: #e3e3e3;
                        margin-top: -1px;
                        border-radius: 2px;
                    }
                }
            }
        
            .item {
                border-radius: 8px !important;
                margin-left: 36px;
                margin-right: 14px !important;
                margin-bottom: 6px !important;
                padding-top: 6px !important;
                padding-bottom: 6px !important;
            
                .label-container {
                    margin-left: -40px;
                }
            
                .button-container {
                    padding-right: 14px !important;
                }
            
                .button-container .control::before {
                    font-size: 23px;
                }
            
                .custom_checkbox {
                    margin-right: 18px !important;
                }
            
                .title {
                    font-size: 14px !important;
                }
            }
        }

        .dropdowns {
            right: 14px;
            left: 36px;
            width: auto;
    
            .dropdown_helper {
                width: 100%;
            }
    
            .dropdown_content {
                margin-top: 5px;
            }
        }

        .panel_bottom {
            padding-bottom: 0;
            background: #EFEFF1;
        
            .ui-datepicker {
                padding-bottom: 0;
        
                .ui-datepicker-title {
                    font-size: 16px;
                    color: @theme-text-color;
                    font-weight: normal;
                }
        
                .ui-datepicker-prev, 
                .ui-datepicker-next {
                    background-color: #C8E2FD66;
                    border-radius: 50%;
            
                    &::before {
                        color: #0064FA;
                        font-weight: bold;
                    }
                }
        
                table {
                    border-spacing: 0 10px;
                    border-collapse: separate;
                }
                
                th {
                    font-size: 10px;
                    color: #8C8C96;
                }
        
                .ui-datepicker-calendar {
                    line-height: 1.6;
            
                    td.ui-datepicker-current-day {
                        background: #dfe9f6;
                    }
                    a.ui-state-default {
                        border: 1px solid transparent;
                        color: #3D3737;
                    }
        
                    a.ui-state-active {
                        border-color: #469CF8;
                    }
        
                    a.ui-priority-secondary {
                        color: #8C8C9666;
                        opacity: unset;
                    }
        
                    .ui-datepicker-today {
                        background: none;
                
                        a {
                            background-color: #fff4cf;
                        }
                    }
        
                    &.highlight_week .current_week {
                        background: #dfe9f6;
                    }
                }
            }
        }
    }

    .panel.center_panel.calendar {
        .toolbar {
            .range_select .item.passive .text {
                font-weight: 700;
                color: @theme-text-color;
            }

            .date_select {
                float: right;
            }
        }
    }

    .panel.item_viewer {
        .toolbar {
            display: block !important;
        }
    }
}

.screen.SettingsLayout {

    .panels.settings {
        height: 100% !important;
        column-gap: 8px;
    
        .panel.data {
            width: unset !important;
            flex-grow: 1 !important;
            min-height: calc(100vh - @theme-tabs-height - @_panels-screen-offset);
            height: fit-content;
    
            .panel_content {
                width: 66%;
                min-width: 750px;
                min-height: fit-content;
            }
    
            .panel_content .middle_bar {
                min-height: fit-content;
            }
        }
    
        .panel.navigation_panel {
            width: 17% !important;
            height: fit-content;
            min-height: 100%;
        }
    }
}
