<div class="item new_button_panel" data-bind="dropdown: {control: false}, css: {'current': isCurrent()}">
  <span class="helper" data-bind="text: linkText"></span>
  <a class="link" href="javascript: void(0);">
    <span class="icon"></span>
    <span class="text" data-bind="text: linkText"></span>
  </a>
  <div class="control"></div>
  <div class="dropdown">
    <div class="dropdown_helper">
      <span class="dropdown_arrow"><span></span></span>
      <div class="dropdown_content">
        <div class="dropdown_first_column" data-bind="foreach: newItemsColumn1">
          <div class="item" data-bind="click: clickEvent, attr: {'class': 'item item_' + hash.toLowerCase()}">
            <div class="item_icon"></div>
            <div class="item_text" data-bind="text: sText"></div>
          </div>
        </div>
        <div class="dropdown_second_column" data-bind="foreach: newItemsColumn2">
          <div class="item" data-bind="click: clickEvent, attr: {'class': 'item item_' + hash.toLowerCase()}">
            <div class="item_icon"></div>
            <div class="item_text" data-bind="text: sText"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
